.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

.movie-card {
  background-color: #000000;
  color: #ababab;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.movie-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 24px;
}

.movie-card h3 {
  font-size: 18px;
}

.movie-card p {
  font-size: 14px;
}

.movie-card p:last-child {
  margin-top: 10px;
}

.movie-card p:last-child::before {
  content: "Rating: ";
  font-weight: bold;
}
